on: [push]
name: Test
jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ghc: ['9.2.8', '9.4.8', '9.6.7', '9.8.4', '9.10.3', '9.12.2']
        cabal: ['3.10.3.0', '3.12.1.0']
        os: [ubuntu-latest, macOS-latest]

    name: Haskell GHC ${{ matrix.ghc }} Test
    steps:
      - uses: actions/checkout@v4
      - name: Check Disk Space
        run: df -h
      - name: Setup Haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - name: Build
        run: |
          cabal v2-update
          cabal v2-build
      - name: Test
        run: cabal v2-test --enable-tests --disable-optimization
